#body{
  margin-top: 0;
  background-color: #ffeaed;
  width: auto;
  height: auto;
  min-height: 100vh;
  padding: 10px;
}
h1{
  text-align: center;
}
#cats-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
p{
  text-align: center;
}
